@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Koulen&display=swap');

#content {
    max-width: 1600px;
    margin: auto 0;
}
header {
    background-color: white;
    width:100%;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display:flex;
    justify-content: space-around;
    background-color: white;
    font-size: 1.8em;
}
.logo {
    width: 100px;
}
nav a:hover{
    background-color: #64B6AC;
    color: white;
    border-radius: 10%;
}
body {  
    background-color: white;
    font-family: Koulen;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
nav a {
    color: #64B6AC;
    text-align:center;
    text-decoration: none;
    padding: 45px;
}
.rivers {
    border: 10px solid #FF8360;
    transition: transform.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 90%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 150px;
    margin-left: 5px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 55% 1fr;
    text-align: center;
    color: #FF8360;
}
footer .social img {
    padding-top: 15PX;
}
footer h3 {
    color:#FF8360;
    text-decoration: none;
}
footer a {
    color: #64B6AC;
    text-decoration: none;
}
footer a:hover {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%;
    background-color: #64B6AC;
    color:#C0FDFB;
}
footer {
    background-color: #64B6AC;
    padding: 25px 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color:white;
    text-decoration: none;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    color:#C0FDFB;
}
.heading {
    font-size: 2.9em;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
}
.paragraph {
    line-height: 50px;
    font-size: 1.9em;
    text-align: right;
    margin-left: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
}
.water {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 300px;
    margin-top: 75px;
    margin-bottom: 30px;
    transform: rotate(90deg);
    border: 10px solid white;
    box-shadow: 5px 5px 10px #6f7364;
}