
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Arvo&family=Oswald:wght@300&family=Outfit:wght@100&display=swap');



:root {
    --primary-color: #E86252;
    --secondary-color: #0F5257;
    --accent1-color: #5FB49C;
    --accent2-color: #E2DADB;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: "Oswald", sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    font-family: var(--heading-font);
    color:var(--secondary-color);

}

header {
    padding: 50px;
    font-size:xx-large;
}

p {
    margin: auto;
    padding:5px;
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}
nav a:hover{
    color: #E86252;
}

a.visited {
    text-decoration: none;
}
a {
    margin:auto;
}
h1 {
    position: absolute;
}

article {
    position: absolute;
}

img { display: block;
    width: 200px;
}


