
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Arvo&family=Oswald:wght@300&family=Outfit:wght@100&display=swap');



:root {
    --primary-color: #E86252;
    --secondary-color: #0F5257;
    --accent1-color: #5FB49C;
    --accent2-color: #E2DADB;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: "Oswald", sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    font-family: var(--heading-font);
    color:var(--secondary-color);

}

header {
    padding: 50px;
    font-size:xx-large;
}

p {
    margin: auto;
    padding:5px;
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}
nav a:hover{
    color: #E86252;
}

a.visited {
    text-decoration: none;
}
a {
    margin:auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

img { display: block;
    width: 200px;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.radio-label {
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}

.checkbox-label {
    font-weight: normal;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.sociallinks {
    height: 10px;
    }