body {
    background-color: turquoise;
}

main {
    display:grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 150px 500px 500px; */
    gap: 15px;
    row-gap: 60px;
}
/* template creates, row/column place it!!!!! */

#success { 
    grid-column: 1/-1;
    background-color: green;
    grid-row: 1/4;
}

#first {
    display:grid;
    grid-template-columns: 1fr 4fr;
}