@import url('https://fonts.googleapis.com/css2?family=Alike&family=Arvo&family=Oswald:wght@300&family=Outfit:wght@100&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    color: white;
    padding: 10px;
    display: block;
    background-color: navy;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

main {
    max-width: 900px;
}

h1 {
    padding: 20px;
}

main img{
    width: 250px;
    height: auto;
    border: 2px solid silver;
    padding: 2px;
    box-shadow: 0 0 30px black;
    margin: 20px;
}
aside {
   width: 500px;
   margin: 1em;
   border: 1px solid rgba(0, 0, 0, 0.2);
   text-align: center;
   padding: 1rem;
   background-color: black;
   color: rgb(24, 76, 76);
}
p {
    padding: 20px;
}
aside img {
    width: 400px;
    height: auto;
}

footer {
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: #bbb;
}

footer p {
    text-align: center;
    font-size: .8rem;
    color: rgba(0, 0, 0, 1);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;   
}

.indent {
    padding-left: 2rem;
}

li {
    margin-bottom: 20px;
}
